* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;

}

#hero {
    background: linear-gradient(rgba(73, 66, 66, 0.8), rgba(20, 8, 0, 0.3)), url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;
}

#header {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;

}

#herocontent {

    position: relative;
    top: 20%;
    margin: 20px;
}

#herocontent h3 {
    text-transform: uppercase;
    margin: 10px;
    font-size: 20px;
}

#herocontent h2 {
    text-transform: uppercase;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}

p {
    font-size: 18px;
    line-height: 25px;
}

button {
    background-color: rgb(168, 71, 71);
    border-radius: 30px;

    height: 50px;
    margin: 10px;
    padding: 10px 20px;
}

.feature-card {
    background-color: rgb(133, 45, 45);
    margin: 20px 10px;
    border-radius: 20px;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
    height: 270px;
    /* border: 2px solid red; */
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}

#feature,
#meeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(img/meetings-bg.jpg);
    padding: 30px 0px;
}

.meeting-card h3 {
    color: black;
    margin-bottom: 20px;
}

#meeting h3 {
    color: white;
    margin-bottom: 20px;
  
    /* width: 100%;
    text-align: center; */
}

#meeting>header {
    /* color: white;
    margin-bottom: 20px; */
    width: 100%;
    text-align: center;
   
}

#meeting>div {
    margin: 20px 20px;
    border-radius: 20px;
    width: 100%;
    /* border: 2px solid red; */
    color: white;
   
}


.meeting-list-card {

    padding-left: 10%;
    padding-top: 10%;
    text-align: left;
     height: 400px;
     background-color: white;
     

}

#meeting #meeting-card-header{
    color: black;
}

.meeting-card div img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.meeting-des {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.date {

    width: 25%;
}

.content {
    width: 75%;
}


#meeting-ul {
   
    list-style: none;
    margin: 35px 0px;
}

#meeting li {
    margin-bottom: 10px;
    color: black;
}



     .meeting-list-card>p {

        display: none;
        color: black;


    }

#meeting button {
    width: 80%;
    text-align: center;
    margin: 0px 20px;
    /* padding-left: 10px; */
}

#icons {
    /* background-color: black; */
    background-color: black;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#social-icons a {
    color: white;
}

#menu a {
    color: white;
    font-size: 30px;
}

#navbar {
    display: none;
}

#navul li {
    margin: 5px;
}

#apply{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    background-image: url(img/apply-bg.jpg);
}

.apply-card {
     background: rgba(255, 255, 255, 0.15);
    margin: 30px 15px;
    padding: 40px 40px;
    width: 92%;
    height: 340px;  
    color: white;
    margin-top: 20px;
}
#apply-card-about{
      background-color: white; 
    margin: 20px 15px;
    padding: 40px 40px;
    width: 92%;
    height: 480px;  
    color: white;
    margin-top: 20px;
     border-radius: 20px;
}
#apply-card-about p{
    width: 80%;
    margin: 20px 0px;
}
.apply-card p{
    margin: 15px 0px;
}
#apply-card-about-h3{
    color: orange;
}
#apply-card-about-div{
    color: black;
}
.apply-card-about-heading{
    margin-bottom: 20px;
}
#ft{
    width: 100%;
    text-align: center;
    height: 110px;
    color: white;
    padding-top: 50px;
    background-image: url(img/meetings-bg.jpg);
}
.meeting-card-img{
    position: relative;
}
.price{
    position: absolute;
    background-color: white;
    top: 20px;
    left: 20px;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    color: black;
}


@media only screen and (min-width:768px) {

    #navbar {
        display: flex;
        padding: 0px 20px;
    }

    #menu {
        display: none;
    }

    #navul {
        display: flex;
        justify-content: space-evenly;

        list-style: none;
    }

    #herocontent {
        height: 300px;
        width: 600px;

    }

    #herocontent h2 {
        font-size: 40px;
    }

    .feature-card {
        width: 47%;
    }

    .meeting-card div img {
        height: 20%;
    }



    .meeting-list-card ul {

        display: none;


    }
     .meeting-list-card>p {

        display: block;
        margin: 40px 70px 40px 0px;


    }

    .meeting-list-card {

    height: 320px;

}
.apply-card {
    height: 270px;  
}
#apply-card-about{  
    height: 370px;  
}

    

}

@media only screen and (min-width:1200px) {
    .feature-card {
        width: 28%;
    }

    #meeting>div{
        width:25%;
        height: auto;
    }

    .meeting-list-card{
       padding: 30px;
    }

  

      .meeting-list-card>p {

        display: none;


    }
     .meeting-list-card>ul {

        display: block;


    }
    #apply-card-left{
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       width: 50%;
    /* height: 270px;   */
}
#apply-card-about{  
    width: 40%;
}
    






}